.skeleton-box {
    width: calc(18*var(--item-card-font-size));
    border-radius: 21px;
    height: 23rem;
    margin-bottom: 10px;
    background-color: #1b1925;
    position: relative;
    overflow: hidden;
    height: 24rem;
    margin: 10px auto;
    transition: .4s;
}

.cart-page-container{
    margin-top:5%;
    display: flex;
}

.cart-product-item{
    width: 60%;
}

.cart-checkout{
    width: 40%;
}

@media(max-width:1150px) {
    .cart-page-container{
        display: block;
    }
    .cart-product-item {
      width: 100%;
    }
  
    .cart-checkout{
        width: 100%;
    }
  }

  @media(max-width:700px) {
    .cart-page-container{
        display: block;
    }
    .cart-product-item {
      width: 100%;
    }
  
    .cart-checkout{
        width: 100%;
    }
  }